@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


:root {
    --color-body: #161616;
    --color-container: #1d1d1d; 
    --color-mailbox: #252525;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Raleway', sans-serif;
    background: var(--color-body);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 800px;
    background-color: var(--color-container);
    margin: auto;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#top-section {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#image-container {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}
#image-container img {
    width: 100%;
}

#top-section-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
}

#top-section-name {
    color: white;
    font-size: 45px;
    font-weight: bold;
}

#top-section-name-features {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    font-weight: bold;
    font-size: 18px;
    padding: 4px;
    margin-top: 10px;
}

.typed-cursor {
    display: none;
}

#mail-button {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-mailbox);
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 50px;
    transition: 250ms;
}
#mail-button:hover {
    color: white;
    background-color: #4e4e4e;
}

#footer-section {
    display: flex;
    flex-direction: row;
}

.social-media-buttons {
    display: flex;
    width: calc(100% / 4);
    height: 110px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    flex-direction: column;
    background-color: var(--color-container);
}

.social-media-logo {
    font-size: 23px;
    color: rgba(255, 255, 255, 0.6);
}

.social-media-logo i {
    margin-right: 10px;
}

.social-media-name {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
}

.social-media-buttons:hover .social-media-name, .social-media-buttons:hover .social-media-logo {
    color: white;
}


@media screen and (max-width: 830px) {
    #container {
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: none;
    }
    #top-section {
        flex-direction: column;
        align-items: center;
    }
    #top-section-name-container {
        margin: 0;
        margin-top: 60px;
    }
    #footer-section {
        display: flex;
        flex-direction: column;
    }
    .social-media-buttons {
        width: 100%;
    }
}
